<%- include('../../partials/header.ejs') %> 

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body mx-5">
                        <h2 class="my-2">Change Password</h2>
                        <hr>
                        <form action="/password/change-password" method="POST">
                            <div class="form-group">
                                <label for="title">Enter Old Password :</label>
                                <input type="password" name="oldPassword" id="oldPassword" placeholder="Enter Old Password" class="form-control <%= error.oldPassword?'is-invalid':'' %>">
                                <div class="invalid-feedback">
                                     <%= error.oldPassword %> 
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="title">Enter New Password :</label>
                                <input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password" class="form-control <%= error.newPassword?'is-invalid':'' %>">
                                <div class="invalid-feedback">
                                    <%= error.newPassword %> 
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-Enter New Password" class="form-control <%= error.confirmPassword?'is-invalid':'' %>">
                                <div class="invalid-feedback">
                                    <%= error.confirmPassword %> 
                                </div>
                            </div>

                            
                            

                            <input type="submit" class="btn btn-primary" value="Change Password">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %> 
    

    </body>
</html>