<%- include('../../partials/header.ejs') %> 

    <div>
        <div class="container">    
                    <% if(posts.length==0){ %>
                        <p>There Is No Post Available</p>
                    <% }else{ %>
                        <% for(let post of posts){ %>
                            <div class="card card-body mb-3">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <% if(post.thumbnail){ %>
                                            <div class="card">
                                                <img src="<%= post.thumbnail %> " alt="post-thumbnail" class="img-fluid mb-2 card-body">
                                            </div>
                                        <% } %> 
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12">
                                        <a href="/profile/<%= post.author._id %>"><strong><%= post.author.name %> </strong></a><br>
                                        <small>
                                            <%= moment(post.createdAt) %>, 
                                            <%= post.readTime %> 
                                        </small>
                                        <hr>
                                        <a href="/post/<%= post._id %>"><strong><%= post.title %> </strong></a>
                                        <p><%= truncate(post.body) %> </p>
                                        <a href="/post/<%= post._id %>" class="btn btn-primary">Read More</a><hr>
                                        <section class="my-2">
                                             <a href="/post/<%= post._id %>" class="btn btn-success btn-sm">Likes ( <%= post.likes.length %> )</a>
                                             <a href="/post/<%= post._id %>" class="btn btn-danger btn-sm">Dislikes ( <%= post.dislikes.length %> )</a> 
                                             <a href="/post/<%= post._id %>" class="btn btn-info btn-sm">Comments ( <%= post.comments.length %> )</a>    
                                        </section>
                                    </div>
                                </div>
                            </div>
                        <% } %>  
                    <% } %>   
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %> 
    <!-- <script src="/scripts/singlePage.js"></script> -->

    </body>
</html>