<%- include('../../partials/header.ejs') %> 

    <div>
        <div class="container">    
            <h4>Profile (<%= profile.name %> )</h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card card-body">
                        <img class="img-thumbnail img-fluid" id="avatar" src="/uploads/default.png" alt="avatart">
                        <p class="mt-4">Name: <strong><%= profile.name %></strong> </p>
                        <p class="mt-4">Email: <strong><%= profile.email %></strong> </p>
                        <p class="mt-4">Bio: <strong><%= profile.bio %></strong> </p>
                        <button class="btn btn-info">Add Friend</button>
                    </div>
                </div> 
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <% if(posts.length==0){ %>
                        <div class="card card-body text-center">
                            <p class="lead display-4">No Post Available</p>
                        </div>
                    <% }else{ %>
                        <% for(let post of posts){ %>
                            <div class="card card-body mb-3">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <% if(post.thumbnail){ %>
                                            <div class="card">
                                                <img src="<%= post.thumbnail %>" alt="post-thumbnail" class="img-fluid card-body mb-2">
                                            </div>
                                        <% } %>  
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-12">
                                        <a href="/post/<%= post._id %>" style="color: 222222;">
                                            <h5><%= post.title %> </h5>
                                            <p class="mb-4"><%= truncate(post.body) %> </p>
                                        </a>
                                        <p><%= moment(post.createdAt) %> </p>
                                        <hr>
                                        <section class="my-2">                                          
                                            <a href="/post/<%= post._id %>" class="btn btn-success btn-sm">Likes ( <%= post.likes.length %> )</a>
                                            <a href="/post/<%= post._id %>" class="btn btn-danger btn-sm">Dislikes ( <%= post.dislikes.length %> )</a> 
                                            <a href="/post/<%= post._id %>" class="btn btn-info btn-sm">Comments ( <%= post.comments.length %> )</a>                                              
                                        </section>
                                    </div>
                                </div>
                            </div>
                        <% } %>                  
                    <% } %>   
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %> 
    <!-- <script src="/scripts/singlePage.js"></script> -->

    </body>
</html>