<%- include('../../partials/header.ejs') %> 

<div>
    <div class="container my-container mb-3">
        <div id="chat-container">
            <div>
                <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary mb-2">Add Friend</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 bg-dark">
                    <div id="search-container" class="my-2 form-control">
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="overflow-auto conversation_list" id="conversation-list">
                        <% if(conversations.length==0){ %>
                            <p class="lead text-white d-flex justify-content-center">No Conversation</p>
                        <% }else{ %>
                            <% for(let conversation of conversations){ %>
                                <% if(conversation.creator.id==user.id){ %>
                                    <a class="conversation" style="cursor: pointer;" onclick="getMessages('<%= conversation._id %>', '<%= conversation.participant.name %>')">
                                        <% if(conversation.participant.avatar){ %>
                                            <img src="<%= conversation.participant.avatar %> " class="rounded-circle" alt="img" style="height: 50px; width: 50px;"/>
                                        <% }else{ %>
                                            <img src="/images/nophoto.png" class="rounded-circle" alt="img" style="height: 50px; width: 50px;"/>
                                        <% } %>
                                        <div class="title-text text-white"><%= conversation.participant.name %></div>
                                        <div class="conversation-date text-white"><%= moment(conversation.last_update) %></div>
                                    </a>
                                <% }else{ %>
                                    <a class="conversation" onclick="getMessages('<%= conversation._id %>', '<%= conversation.creator.name %>')" style="cursor: pointer;">
                                        <% if(conversation.creator.avatar){ %>
                                            <img src="<%= conversation.creator.avatar %> " class="rounded-circle" alt="img" style="height: 50px; width: 50px;"/>
                                        <% }else{ %>
                                            <img src="/images/nophoto.png" class="rounded-circle" alt="img" style="height: 50px; width: 50px;"/>
                                        <% } %>
                                        <div class="title-text text-white"><%= conversation.creator.name %></div>
                                        <div class="conversation-date text-white"><%= moment(conversation.last_update) %></div>
                                    </a>
                                <% } %>
                                <hr class="hr_new"> 
                            <% } %>   
                        <% } %>   
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 bg-secondary p-1" id="chat-message-list">
                    <div id="chat-title">
                            <img src="/images/p1.jpg" alt="" style="height: 40px; width: 40px;" class="rounded-circle">
                            <span id="conversation-partner"><strong>Samiul Bashar : Active 10 Min ago</strong></span>
                      
                    </div>
                    <hr class="hr_new">

                    <div id="chat-message-list">
                        <div class="text-center"><h5>Select Conversation</h5></div>
                    </div>

                    <!-- <form id="chat-form" method="post" enctype="multipart/form-data">
                        <label for="attachment"><img src="/images/attachment.png" alt="Add Attachment" /></label>
                        <input type="file" multiple name="attachment" class="hide" id="attachment" />
                        <input type="text" name="message" placeholder="Type a message" autocomplete="off" />
                    </form> -->

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 
<%- include('../../partials/add_conversation.ejs') %> 

    </body>
</html>